.header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
  background-color: rgb(51, 109, 133);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 0.1px solid black;
}
body {
  margin: 0;
}
.signin {
  font-size: 20px;
  color: white;
  border-bottom: 2px solid rgb(51, 109, 133);
  padding: 10px 10px;
}
.signin:hover {
  border-bottom: 2px solid white;
}
/*.signinout {
  font-size: 8px;
  color: white;
  background-color: rgb(189, 69, 85);
  width: 20px;
  height: 10px;
  font-size: 8px;
}*/

.shopping_cart {
  width: 84px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgb(51, 109, 133);
}
.shopping_cart:hover {
  border-bottom: 2px solid white;
}
.shopping_cart span {
  width: 25px;
  height: 25px;
  position: relative;
  left: -10px;
  top: -10px;
  font-size: 16px;
  color: white;
  background-color: rgb(240, 41, 91);
  border-radius: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_box {
  width: 60%;
}
